*{
    box-sizing: border-box;
}
.main-heading{
    text-align: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;

}
.column{
    max-width: 25%;
    flex: 250;
    padding: 4px;
}
.column img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 4px;
}
@media all and (max-width: 960px;){
    .column{
        max-width: 50%;
        flex: 50%;
    }
}
@media all and (max-width: 500px;){
    .column{
        max-width: 100%;
        flex: 100%;
    }
}